.book-page {
  height: 100vh;
  width: 100%;
  background-color: #f5f1e9; /* Off-white, like aged paper */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5vw; /* Scales with viewport width */
  box-sizing: border-box;
}

.saul-container {
  display: flex;
  flex-direction: column; /* Stack title and details vertically */
  justify-content: flex-start; /* Start from top */
  align-items: center; /* Center horizontally */
  height: 100%; /* Fits within book-page padding */
  width: 100%;
  background-image: url('../../Assets/Images/S&L-103.jpg');
  background-size: cover; /* Or 'contain' if preferred */
  background-position: center 40%;
  background-repeat: no-repeat;
  position: relative;
  border: 5px solid #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  overflow: hidden; /* Prevents content from spilling out */
  position: relative;
}

.message {
  position: absolute; /* Positions it relative to the saul-container */
  top: 4%; /* Distance from the top */
  left: 5%; /* Distance from the left */
  text-align: left; /* Aligns text to the left */
  max-width: 40%; /* Optional: Limits width to keep it readable */
  padding: 10px; /* Optional: Adds some padding around the text */
  color: #2f734c; /* Ensures text is readable against the background */
  font-family: 'Great Vibes','Freestyle Script', 'Dancing Script', 'Kunstler Script';
  font-size: 2.2rem;
}


.message p {
  margin: 1rem;
}

@media (max-width: 1550px) {
  .message {
    max-width: 40%;
    font-size: 2rem;
    margin-top: 0%;
    margin-left: 0;
    line-height: 2rem;
  }

  .message p {
    margin: 0.8rem;
  }
}

@media (max-width: 1200px) {
  .message {
    font-size: 2rem;
    max-width: none;
    width: 60%;
    line-height: 3rem;
  }

  .message p {
    margin: 0.8rem;
  }
}

@media (max-width: 950px) {
  .message {
    max-width: 60%;
    font-size: 2rem;
    margin-top: 0%;
    margin-left: 0;
    line-height:2rem;
  }

  .message p {
    margin: 0.8rem;
  }
}

@media (max-width: 800px){
  .message{
    font-size:1.5rem;
    line-height: 2rem;
  }
}

@media (max-width: 550px) {
  .message {
    max-width: 60%;
    font-size: 1.2rem;
    margin-top: 0%;
    margin-left: 0;
    line-height:1.4rem;
  }

  .message p {
    margin: 0.8rem;
  }
}

@media (max-width: 420px){
  .message {
    font-size: 1rem;
    line-height: 1.5rem;
  }

}

@media (max-width: 380px){
  .message {
    font-size: 1rem;
    max-width: none;
    width: 80%;
    line-height: 1rem;
  }

}